---
layout: default
title: winter semester 15/16
---

<!-- This is the intro section -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
        {% include home.html %}
            <h1 id="headline">
                {{ page.title }}
            </h1>
            <img src="{{ site.baseurl }}/images/ldr/ldr-800w.png" alt=" " class="img-responsive" id="chart">
            <p class="hello">
                 These are the results from the winter semester 2015/2016. The seminar was split into 3 projects.
            </p>
            <ol>
                <li>
                    <a href="#algo">algorithmic pattern generator</a>
                </li>
                <li>
                    <a href="#crowd">international space station</a>
                </li>
                <li>
                    <a href="#bits">physical bits</a>
                </li>
            </ol>
            <p>
                You can find all the results, videos, links, source code and images below.Take a closer look at the projects from:
            </p>
            <p>
            {% for student in site.data.wise-1516.students %}{% if forloop.last == false %}
                <a href="#{{ student.github }}">
                    {{ student.author }}</a>{% if forloop.rindex0 != 1 %},{% endif %}{% else %} and <a href="#{{ student.github }}">{{ student.author }}</a>.
                {% endif %}
            {% endfor %}
            </p>
            <p>
                It will be fun. We promise <i class="fa fa-smile-o"></i>.
            </p>
        </div>
    </div>
</div>


<!-- this is the people section -->
<div class="row" id="people">
    <div class="col-md-8 col-md-offset-2" >
    {% for student in site.data.wise-1516.students %}
        <div class="media people well" id="{{ student.github }}">
            <a href="{{ student.url }}" class="media-left">
                <img alt=" " src="https://avatars.githubusercontent.com/{{ student.github }}" class="hidden-xs avatars-large">
                <img alt=" " src="https://avatars.githubusercontent.com/{{ student.github }}" class="thumb hidden-sm hidden-md hidden-lg avatars-small">
            </a>
            <div class="media-body break">
                <p>Hi my name is</p>
                <h4 class="media-heading headline">{{ student.author }}</h4>
                <h5>or <a href="https://github.com/{{ student.github }}">{{ student.github }}</a> on GitHub</h5>
                <div class="hidden-xs">
                {% include person1516.html %}
                </div>
            </div>
                <div class="hidden-sm hidden-md hidden-lg">
                {% include person1516.html %}
                </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- this is the ALGO section -->
<div class="row" id="algo">
    <div class="col-md-8 col-md-offset-2 intro">
        <div class="media well">
            <h2>
                Algorithm
            </h2>
            <p>
                The task was to create an algorithm for humans and execute it several times. Iterate through the results and refine the pseudo-code. Afterwards the algorithm was ported to the Processing programming language and improved. Finally the students needed to find a use case for their algorithms.
            </p>
            {% for student in site.data.wise-1516.students %}
                {% for thumb in student.algorithm.thumb %}
                <a href="#{{ student.algorithm.title | make_web_friendly }}">
                    <img src="{{ site.baseurl }}/images/wise-1516/{{ thumb }}" alt="..." class="img-circle img-teaser">
                </a>{% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2" >
    {% for student in site.data.wise-1516.students %}
        <div class="media project-algo well" id="{{ student.algorithm.title  | make_web_friendly }}">
            <a href="{{ student.algorithm.repo-url }}" class="media-left">
                <img alt=" " src="{{ site.baseurl }}/images/wise-1516/{{ student.algorithm.image }}" class="image hidden-xs">
                <img alt=" " src="{{ site.baseurl }}/images/wise-1516/{{ student.algorithm.thumb }}" class="thumb hidden-sm hidden-md hidden-lg">
            </a>
            <div class="media-body">
                <a href="{{ student.algorithm.repo-url }}">
                    <h4 class="media-heading">
                        {{ student.algorithm.title }}
                    </h4>
                </a>
                <h5>by <a href="#{{ student.github }}">
                    {{ student.author }}
                </a></h5>
                <p class="abstracts hidden-xs">
                    {{ student.algorithm.abstract }}
                </p>
            </div>
              <p class="abstracts hidden-sm hidden-md hidden-lg">
                {{ student.algorithm.abstract }}
                </p>
        </div>
    {% endfor %}
    </div>
</div>

<!-- this is the CROWD section -->
<div class="row" id="crowd">
    <div class="col-md-8 col-md-offset-2 intro">
        <div class="media well">
            <h2>International Space Station</h2>
            <p>For this project the students had to create a data visualization about the ISS.</p>{% for student in site.data.wise-1516.students %}<a href="#{{ student.iss.title | make_web_friendly }}"><img src="{{ site.baseurl }}/images/wise-1516/{{ student.iss.thumb }}" alt="..." class="img-circle img-teaser"></a>{% endfor %}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2" >
        {% for student in site.data.wise-1516.students %}
        <div class="media project-crowd well" id="{{ student.iss.title | make_web_friendly }}">
            <a href="{{ student.iss.repo-url }}" class="media-left">
            <img alt=" " src="{{ site.baseurl }}/images/wise-1516/{{ student.iss.image }}" class="image hidden-xs">
            <img alt=" " src="{{ site.baseurl }}/images/wise-1516/{{ student.iss.thumb }}" class="thumb hidden-sm hidden-md hidden-lg ">
            </a>
            <div class="media-body">
                <a href="{{ student.iss.repo-url }}"><h4 class="media-heading">{{ student.iss.title }}</h4></a>
                <h5>by <a href="#{{ student.github }}">{{ student.author }}</a></h5>
                <p class="abstracts hidden-xs">{{ student.iss.abstract }}</p>
            </div>
            <p class="abstracts hidden-sm hidden-md hidden-lg">{{ student.iss.abstract }}</p>
        </div>
        {% endfor %}
    </div>
</div>

<!-- this is the transl8tr section -->
<div class="row" id="bits">
    <div class="col-md-8 col-md-offset-2 intro">
        <div class="media well">
            <h2>Transl8tr</h2>
           <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>

