---
layout: default
title: Eingabe Ausgabe
---
<div class="row well">
  <div class="col-md-12">
<h1 class="title"><a href="/">{{ page.title }}</a></h1>
{% capture readme %}
{% include io-abstract.md %}

{% endcapture %}
{{ readme | markdownify }}


  </div>
</div>


<!--
<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div> -->
