
                <p>I was part of the Input/Output team. See my results of the projects <a href="#{{ student.algorithm.title  | make_web_friendly }}">algorithm</a> and <a href="#{{ student.iss.title  | make_web_friendly }}">ISS</a> below. I also took part in the group project <a href="#bits">Transl8tr</a></p>
                <p>You can find all my source code for the projects under these links:</p>
                <!-- begin PDXIII edition -->
                <ul class="student-repos">
                     {% for repo in student.repos %}
                         <li>
                             <a href="https://github.com/{{ student.github }}/{{repo}}"><i class="fa fa-github-alt"></i> {{ repo }}</a>
                         </li>
                     {% endfor %}
                     </ul>

                <!-- end PDXIII edition -->
                <p>If you like you can contact me <a href="mailto:{{ student.contact}}?subject=Eingabe/Ausgabe @FH-Potsdam Winter 2015/2106&body=Hi there {{student.author}}, I found your work at https://interface.fh-potsdam.de/eingabe-ausgabe/2015-2016/ pretty interesting. Please tell me more about your project ...">here</a> or visit my portfolio <a href="{{ student.url }}">there.</a></p>