<!doctype html>
<html lang="en">
    <head>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700italic,900,300' rel='stylesheet' type='text/css'>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">


        <title>{{ page.title }}</title>
        <meta name="description" content="documentation of the seminar 'Eingabe/Ausgabe' at FH-Potsdam (University of Applied Sciences Potsdam (Germany))">
        <meta name="author" content="fabiantheblind">
   <!-- <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/bootstrap-material-design/dist/css/material.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/bootstrap-material-design/dist/css/ripples.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main-1415.css">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/pdxiii.css"> -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.min.css" />
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
    <div class="container">
<!--     <h6 class="title"><a href="/">&laquo;&laquo; {{ site.name }}</a></h6>-->
    <div class="row">
        <div class="col-md-12">
        {{ content }}
        </div>
    </div>
    </div>
    {% include footer.html %}
<!--
<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.js"></script>
        <script src="{{ site.baseurl }}/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="{{ site.baseurl }}/bower_components/holderjs/holder.js"></script>
        <script src="{{ site.baseurl }}/bower_components/bootstrap-material-design/dist/js/material.js"></script>
        <script src="{{ site.baseurl }}/bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.fittext.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/shuffle.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/main-1415.js"></script> -->
    <script type="text/javascript" src="{{ site.baseurl }}/js/main.min.js"></script>

    </body>
</html>
